* {
  box-sizing: border-box; /*Para que los pixeles de los gutters formen parte del % total*/
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $mainOrange;
}

