.btn {
    color: white;
    background-color: $mainBlue;
    text-decoration: none;
    padding: 0.75rem 1.2rem;
    display: inline-block;

    &:hover {
        background-color: rgb(40, 113, 247);
    }

    &--orange {
        background-color: $mainOrange;
    }

    &--orange:hover {
        background-color: #ec9843;
    }

    &--large {
        padding: 1.1rem 1.9rem;

        @mixin atSmall {
            font-size: 1.25rem;
        }
    }
}
