.feature-item {
    padding-bottom: 3rem;
    
    @mixin atSmall {
        padding-left: 94px;
        position: relative;
    }

    &__icon {
        display: block;
        margin: 0 auto;

        @mixin atSmall {
            left: 0;
            position: absolute;
        }

    }

    &__title{
        margin-bottom: .8rem;
        text-align: center;
        
        @mixin atSmall {
            text-align: left;
        }

    }
}