.row {
    overflow: auto;
    /*Para clear the floats*/

    &--gutters {
        margin-right: -65px;
    }

    /*Para que se aplique a los div hijos (row__4 row__8 etc)*/
    &--gutters>div {
        padding-right: 65px;
        box-sizing: border-box;
        /*Para que los pixeles de los gutters formen parte del % total*/
    }

    &__b-margin-until-medium {
        margin-bottom: 1.4rem;
    }

    @mixin atMedium {

        /* 
        &__b-margin-until-medium {
             margin-bottom: 0;
         } 
        */

        &__medium-4 {
            float: left;
            width: 33.33%;
        }

        &__medium-4--larger {
            width: 40%;
        }

        &__medium-8 {
            float: left;
            width: 66.66%;
        }

        &__medium-8--smaller {
            width: 60%;
        }
    }
}
