.row {
    /*
    overflow: auto;
    */
    /*Para clear the floats*/

    &--gutters {
        margin-right: -65px;
    }

    &--gutters-small {
        margin-right: -45px;
    }

    &--gutters-large {
        margin-right: -100px;   
    }


    /*Para que se aplique a los div hijos (row__4 row__8 etc)*/
    &--gutters>div {
        padding-right: 65px;
        /*Para que los pixeles de los gutters formen parte del % total*/
    }

    &--gutters-small > div{
        padding-right: 45px;
    }

    &--gutters-large > div{
        padding-right: 100px;
    }


    &__b-margin-until-medium {
        margin-bottom: 1.4rem;
    }

    @mixin atMedium {

         
        &__b-margin-until-medium {
             margin-bottom: 0;
         } 
        

        &__medium-4 {
            float: left;
            width: 33.33%;
        }

        &__medium-6 {
            float: left;
            width: 50%;
        }

        &__medium-4--larger {
            width: 40%;
        }

        &__medium-8 {
            float: left;
            width: 66.66%;
        }

        &__medium-8--smaller {
            width: 60%;
        }
    }

    @mixin atLarge {

         
        &__b-margin-until-large {
             margin-bottom: 0;
         } 
        

        &__large-4 {
            float: left;
            width: 33.33%;
        }

        &__large-6 {
            float: left;
            width: 50%;
        }

        &__large-4--larger {
            width: 40%;
        }

        &__large-8 {
            float: left;
            width: 66.66%;
        }

        &__large-8--smaller {
            width: 60%;
        }
    }

    &--equal-height-at-medium {
        @mixin atMedium {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }

    &--equal-height-at-large {
        @mixin atLarge {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }
}
