.site-footer {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: #ffffff;
  text-align: center;
  background-color: $mainBlue;

  &__text {
    font-weight: 250;
    margin-bottom: 1rem;
    display: block;

    @mixin atMedium {
      margin-bottom: 0;
      display: inline;
      margin-right: 1.4rem;
    }
  }
}
